.idea
docker-compose.override.yml

# scala
scala-2.*


# javascript
node_modules

# elm
elm-stuff


# exercism exercises -- from exercism list

hello-world
sum-of-multiples
leap
bob
space-age
grade-school
accumulate
flatten-array
collatz-conjecture
hamming
etl
perfect-numbers
secret-handshake
robot-simulator
matrix
book-store
gigasecond
difference-of-squares
pangram
raindrops
phone-number
strain
robot-name
grains
scrabble-score
rna-transcription
triangle
binary-search
sieve
isogram
clock
protein-translation
beer-song
house
series
word-count
anagram
nucleotide-count
meetup
prime-factors
allergies
all-your-base
kindergarten-garden
largest-series-product
pascals-triangle
pythagorean-triplet
saddle-points
acronym
run-length-encoding
roman-numerals
simple-linked-list
atbash-cipher
simple-cipher
bank-account
crypto-square
bracket-push
queen-attack
luhn
food-chain
linked-list
spiral-matrix
custom-set
parallel-letter-frequency
nth-prime
palindrome-products
ocr-numbers
pig-latin
binary-search-tree
rail-fence-cipher
bowling
dominoes
sublist
minesweeper
wordy
change
connect
zebra-puzzle
say
alphametics
sgf-parsing
lens-person
variable-length-quantity
zipper
forth
reverse-string
two-fer
